[2016-04-01 14:58] untitaker opened #1 "Code of conduct"
A potentially delicate topic. Keep in mind that there are other options besides copy-pasting the contributor covenant.

@pallets/global-committers

[2016-04-01 14:59] untitaker opened #2 "Make this repository private"
Need money to do that.

@pallets/global-committers

[2016-04-01 21:09] ThiefMaster commented on #1
I wouldn't add one at all - most people are decent and have common sense.
And those who are just dicks won't care about a CoC anyway.

[2016-04-01 21:27] untitaker commented on #1
I think it at least requires clarification whether we should tolerate borderline things such as:

* sexualizing nicknames
* "edgy" jokes about minorities

I would say that it heavily depends on the environment (and the degree of anonymity) how people behave and which language they use.

I rather suspect a majority would cease all involvement rather than just ignoring the rules.

---

Generally I'd

[2016-04-02 02:10] DasIch commented on #1
What is decent? What does it mean for someone to have common sense? There isn't one generally accepted definition, every community has it's own and what some communities consider decent and to be common sense is really fucking awful. Especially communities that talk about decency and accuse others of indeceny seem to be the worst of all.

A CoC allows us to be transparent and explicit about where

[2016-04-02 19:19] untitaker commented on #1
I just figured we actually have sort of a CoC: https://www.palletsproject.com/governance/rules-of-engagement/

Ironically it says that "we need to set up rules", but then doesn't define them ;)

[2016-04-03 16:44] mitsuhiko commented on #1
My personal opinion on code of conducts of any sort is that once there is one, people become lawyers around them.  I do not want that.  That's also why what we have currently is called "rules of engagement" and intentionally vague.  I do not want people to take anything that is written somewhere to have arguments about what is unacceptable/acceptable and what is not.

To make this clear: I don't w

[2016-04-03 16:52] mitsuhiko commented on #2
I will do that. I just want to clean up the other orgs I pay money for right now. Don't need all that stuff :)

[2016-04-03 16:56] untitaker commented on #1
In principle this can happen with any kind of ruleset for any kind of mechanism, this doesn't mean that rules in general are a bad thing.

The CoC is about *ending* such arguments. Moral discussions about what is acceptable/unacceptable are unavoidable with or without CoC, but I definetly think that having a (clear) definition of unacceptable behavior helps avoiding such discussions.

Here's a com

[2016-04-03 16:59] mitsuhiko commented on #1
The only difference in the argument will be that the CoC would have to be amended when an argument breaks out and it has not been sufficiently covered. Honestly though, what would you want to add to the rules of engagement which is currently missing?

[2016-04-03 17:02] mitsuhiko commented on #1
Also if there are concrete cases of where a CoC would have helped in the past I'm happy to change my opinion on that issue.  However from what I remember we generally locked threads before damage was done.  (Ignoring one particular incident which I remember very well which however would not have been avoided by the presence or absence of a code of conduct)

[2016-04-03 17:04] untitaker commented on #1
Oh, this is where the real controversity starts :)

See https://github.com/pallets/meta/issues/1#issuecomment-204570354:

--

It's hard to argue against this one as I'm not sure if we're thinking of the same incident. If you mean the same one, I think it's arguable and depends on the CoC we choose.

[2016-04-03 17:05] mitsuhiko commented on #1
@untitaker but now you added an enumeration which clearly is not complete :) Those are by far not the only things I do not want to see on bug trackers.

[2016-04-03 17:10] untitaker commented on #1
@mitsuhiko There is stuff so obvious that it probably doesn't need to be mentioned (pornography?), I think it's sufficient to clarify the top-n things people disagree about. The end result would probably look similar to the [Contributor Covenant's list](http://contributor-covenant.org/version/1/4/)

[2016-04-03 18:15] RonnyPfannschmidt commented on #1
a rule that goes for education with a fallback of punishment for undesired behaviors seems more efficient than going for incomplete listings and political tools

desired/undesired behaviors can be deduced from the goals of the community/project and the effect of the behavior in question on the community and individuals

[2016-04-03 19:06] mitsuhiko opened #3 "Private Infrastructure"
Generally I would like to keep pallets as public as possible.  There are three areas I can see for which this does not work:
- Credentials. Be it server access, pypi fallback account etc.  All this sort of stuff just cannot be public.  We probably will be able to use private github repositories for this.
- Security mailinglist: need to figure out where to host this.  Currently this goes into my pe

[2016-04-03 19:07] davidism opened #4 "Group email that forwards to all members"
Over in the SO Python room, we have an email, `chatroom@sopython.com`, that forwards to all the owners.  This lets users get in contact with us quickly and privately and lets all of us see the conversation even if only one of us handles it.  We should have a `team@palletsproject.com` that does the same thing.

[2016-04-03 20:00] mitsuhiko commented on #1
@untitaker i will send a PR with some of the stuff stolen from there.

[2016-04-04 12:19] untitaker commented on #4
The email at https://www.palletsprojects.com/governance/rules-of-engagement/ probably should redirect to the email addresses of the users on the `Moderators` team I've created yesterday.

[2016-04-05 16:30] untitaker opened #5 "Release Flask 0.10.2 soonish"
It already contains a lot of bugfixes, and is probably a cheaper shot at just "a next release" than 0.11 or 1.0.

cc @pallets/global-committers

[2016-04-05 16:30] untitaker commented on #5
See also https://github.com/pallets/flask/issues/1324#issuecomment-205854141

[2016-04-05 19:13] davidism opened #6 "Shut down Flask snippets app"
I don't know where I mentioned this before, but I'm pretty sure @mitsuhiko was +1 on this.  The snippets are not official, reviewed, or maintained, but look official.  We should archive what exists, add a disclaimer, and turn off the app.

Stack Overflow is testing a new Documentation site (still in private beta) which may be a good fit for this type of content in the future.

[2016-04-05 19:14] untitaker commented on #6
IIRC the plan was to move flask.pocoo.org to flask.palletsprojects.org and simultaneously kill everything except the sphinx docs.

[2016-04-05 20:07] jeffwidman commented on #5
The title should probably include "Flask"

[2016-04-07 08:02] jeffwidman opened #7 "Make docs rebuild automatically after commits"
I have a feeling https://github.com/pallets/flask/issues/1772 applies to the other repos in `pallets` as well.

I'd prefer if they automatically rebuilt themselves after any commit (or at least any commit that affects the docs).

[2016-04-12 19:49] untitaker opened #8 "Requesting to be PyPI maintainer of Jinja"

[2016-04-13 11:37] jeffwidman opened #9 "Update pallets org description"
It's now the home of these libraries.

[2016-04-13 14:49] untitaker commented on #9
Done.

[2016-04-13 14:49] #9 closed

[2016-04-13 14:54] untitaker opened #10 "Packaging/versioning/maintenance policy"
- Backwards compat is key
- Semver should be followed
- Use milestones to mark the next-possible release where the change can be made

[2016-04-13 14:54] untitaker commented on #10
However, it is also the case that bumping e.g. Jinja from 2.0 to 3.0 should IMO never happen, as Python's packaging tools are completely unaware of semver and will silently upgrade to the major version. Better to have a new `jinja3` package. But maybe Python's packaging tools catch up until then, you never know.

[2016-04-13 15:50] untitaker opened #11 "Move flask-website to pallets"
https://github.com/mitsuhiko/flask-website

[2016-04-13 15:51] untitaker opened #12 "Move flask-feedback to pallets"
https://github.com/mitsuhiko/flask-feedback

Just for archival

[2016-04-13 15:51] untitaker opened #13 "Move some repos to pallets"
- [x]  https://github.com/mitsuhiko/flask-sphinx-themes
- [ ] https://github.com/mitsuhiko/flask-feedback
- [x] https://github.com/mitsuhiko/flask-website

[2016-04-13 15:52] untitaker commented on #12
#13

[2016-04-13 15:52] #12 closed

[2016-04-13 15:52] untitaker commented on #11
#13

[2016-04-13 15:52] #11 closed

[2016-04-13 17:14] mitsuhiko commented on #13
Will move.

[2016-04-13 17:16] mitsuhiko commented on #13
Do we need the feedback repo still?

[2016-04-13 17:17] untitaker commented on #13
I mean, just for archival.

On 13 April 2016 19:16:22 CEST, Armin Ronacher <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-04-13 21:40] jeffwidman commented on #13
I'd just drop the feedback repo personally. It looks like it hasn't been used in years, and if we were to start doing this again, I'd vote to just use an external hosted tool as it's one less thing to maintain. With the switch to `pallets`, feels like an ideal time for a clean break.

[2016-04-13 21:41] mitsuhiko commented on #13
I will leave the repo there just to discourage people to find it. We don't have private repos on pallets yet.

[2016-04-13 21:41] #13 closed

[2016-04-13 21:44] untitaker commented on #13
Then please create a `pallets-archive` for unmaintained code. I feel like this is equivalent to deleting old blogposts you no longer agree with.

[2016-04-13 21:45] mitsuhiko commented on #13
Is there a specific reason this cannot just linger on my user account? I mean, there is no point in touching this.

[2016-04-13 21:49] untitaker commented on #13
Not that strong of an opinion, but I think it'd categorically belong to the pallets project.

[2016-04-13 21:57] jeffwidman commented on #10
One possible way to handle changes that everyone agrees should be fixed (https://github.com/pallets/jinja/issues/119, https://github.com/pallets/jinja/issues/379) is put them behind a feature flag that defaults to disabled. It adds cruft, but also lets folks use the new behavior now, which makes the eventual migration to the next major release less painful. If we go this route, it should only be a

[2016-04-13 23:26] untitaker opened #14 "Adding snoack to the Jinja DevTeam"
Hello @snoack,

I added you to the new organization "pallets" that contains Flask, Werkzeug and Jinja. Since you've been rather active on Jinja's bugtracker, you currently have commit access to just that repo (if you accept the invite).

Our policies are work-in-progress, the tracking issue is https://github.com/pallets/meta/issues/10 (and generally that issuetracker). Especially the first point a

[2016-04-13 23:26] #14 closed

[2016-04-14 14:41] davidism commented on #10
I'm ok with pushing new major versions, as long as changes are communicated well in advance.  I don't think separate packages solves the problem.

Now we're in this weird situation where the library is referred to as "jinja", the website is "jinja.pocoo.org", and yet the package to install is "jinja2", even though a "jinja" package exists and doesn't say anything when it gets installed instead (at

[2016-04-14 14:47] davidism commented on #10
Ideally, we'd go back to using the Jinja package, and add a dummy package to Jinja2 at some point that tells people to install Jinja from now on.  We'd upload to both for a while to smooth the initial transition.

[2016-04-14 14:51] davidism commented on #14
@snoack be sure to add yourself as a watcher to at least pallets/jinja and pallets/meta so you can keep up with issues and discussion.

[2016-04-14 14:56] untitaker commented on #10
@davidism It makes no sense to release version 3 of the `jinja2` package. Of course reusing `jinja` would be "aesthetically" the right choice, but unfortunately it is very cumbersome in practice due to the packaging tools' behavior.

[2016-04-14 15:02] davidism commented on #10
Click isn't releasing separate packages for each major version, and appears to be doing fine.  I'd rather take the burden if it means fixing the situation.

[2016-04-14 15:03] untitaker commented on #10
Click's releases didn't actually contain any compat-breaking changes so far.

[2016-04-14 15:04] davidism commented on #10
Which would make it even more confusing if one suddenly did, and a new package called click15 was created.  Like I said above, I think this can be handled without splitting packages up.

[2016-04-14 16:06] snoack commented on #14
Thanks for the invitation! I accepted it.

@untitaker I read through #10. And yeah, I'm well aware of our policy in regard of backwards compatibility. However, I was wondering what exactly my responsibilities as a committer are, and when/how it's appropriate to push a change?

@davidism Yes, I'm already watching `jinja` for a while, I just setup notifications for `meta` as well.

[2016-04-14 16:21] untitaker commented on #14
@snoack Technically you have no responsibilities, this is voluntary open source. But if you do want to see a PR merged into master, please do that while respecting #10.

[2016-04-15 07:33] jeffwidman commented on #14
I'd say use your judgment and when in doubt, have a bias towards action rather than apathy... action can mean rejecting a PR/issue too--they're easy enough to re-open if someone disagrees.

Normally when a PR comes in, I might comment immediately, then wait a few days before merging, even if I'm confident the change should be implemented, just to give other maintainers a chance to weigh in.

If I'

[2016-04-15 08:59] jeffwidman commented on #10
It's standard practice in the python world to stay with the same PyPI namespace even for major version upgrades. Off the top of my head, I can't think of a project that switches package names when a major version is released.

I agree that backwards-incompatible changes are a little more sensitive for Jinja since it's a dependency on projects like Ansible where there's a lot of users unfamiliar wi

[2016-04-15 12:43] untitaker commented on #10
@jeffwidman We're not going to implement half a package manager in Jinja's setup.py. Also this has no effect when installing software that was intended for use with Jinja2 from scratch.

[2016-04-15 13:09] untitaker commented on #14
Also FWIW, if a PR includes a refactor of some code, be aware that passing tests don't indicate anything, because the test coverage is really bad at some places. Always demand additional tests when somebody does that.

[2016-04-15 13:35] snoack commented on #14
Thanks, that is helpful! I will try doing my best.

Though, I'm currently quite busy with other stuff. But I probably will have more time again for `jinja` soon.

[2016-04-15 13:54] davidism commented on #10
I think we'd have to write a *few* more lines to reach "half a [package manger](https://github.com/pypa/pip/tree/develop/pip)". ;-)

[2016-04-15 23:13] untitaker opened #15 "Switch all sites to readthedocs"
We discussed this extensively before. I think it's time to act. For each project `foo`:
- Set up `foo.palletsprojects.com`, which is an alternative hostname for a simple RTD site. This requires a CNAME entry to `pallets-foo.readthedocs.io`. Do not use wildcard DNS entries.
- Set up maintenance and `master` branches to be built.
- Disable `stable` build, disable `latest` build
- The latest maintena

[2016-04-15 23:14] untitaker commented on #15
All of this is under the assumption we already know we want to switch to RTD. I'd prefer a separate thread if we need to discuss it again, i.e. I want to separate discussion/planning.

[2016-04-29 15:17] justanr opened #16 "Move Flask-SQLAlchemy to pallets as well?"
I don't feel strongly either way, and I'm not sure if it fits with the vision of the pallets organization.

[2016-04-30 14:16] davidism commented on #16
I already discussed it with @mitsuhiko and the decision was not to.  There's a bunch of other extensions under his account that aren't moving either.

[2016-04-30 14:42] justanr commented on #16
Cool. I was more curious.

[2016-04-30 14:42] #16 closed

[2016-05-28 21:30] RonnyPfannschmidt commented on #10
also since now we have manylinux, building wheels is more predominant

we might want to take a look at auto-upload of wheels for osx, windows and manylinux

[2016-05-29 14:24] untitaker commented on #15
I've registered ReadTheDocs names for various projects: https://readthedocs.org/profiles/untitaker/

[2016-05-29 14:48] untitaker commented on #15
I suggest for testing RTD stability we start with Click:

* Not as significant as Flask or Werkzeug, so larger tolerance if things break.
* Frequent major releases.

@mitsuhiko As ReadTheDocs doesn't support SSL, we need a proxy from `click.palletsprojects.com` to `pocoo-click.readthedocs.io`. Here are the docs: https://docs.readthedocs.io/en/latest/alternate_domains.html

[2016-05-29 14:50] mitsuhiko commented on #15
I will look into how to best achieve this.

[2016-05-30 18:03] untitaker opened #17 "Guidelines for OS packagers"
Distinctive from #10! This one is for distro packagers of Flask, Werkzeug, etc.

See https://vdirsyncer.readthedocs.io/en/stable/packaging.html and https://hypothesis.readthedocs.io/en/latest/packaging.html for what I mean. It came up in the context of https://github.com/pallets/flask/issues/1835

[2016-06-03 04:59] untitaker opened #18 "Policy to have two maintainers sign off code"
Basically what the title says. Require two maintainers to give their :+1: to merge code. Not technically enforced, and maybe skippable for typo fixes.

[2016-06-03 05:06] untitaker commented on #5
whatever, 0.11 is out.

[2016-06-03 05:06] #5 closed

[2016-06-03 05:50] jeffwidman commented on #7
This would be fixed by #15

[2016-06-03 06:36] jeffwidman commented on #18
Hmm... I'd say I just screwed up today, missing things due to a combination of my inexperience and too much context switching in the midst of co-leading the Pycon sprint. So while I'm going to make it a general rule of thumb for myself that I shouldn't merge commits in the middle of a sprint, I'd hate to have my mistake result in a general policy for everyone else that slows things down.

Historic

[2016-06-03 21:29] jeffwidman opened #19 "Automatically run coverage.py?"
https://github.com/pallets/flask/pull/1883 made me wonder if we should have `coverage.py` run automatically on PRs...

I've never set this up before, but I know there's a number of build bots that support this.

[2016-06-03 21:31] davidism commented on #19
I've seen some bots that post when coverage changes.  It could be a nice way to remind contributors to add tests.

[2016-06-03 22:10] jeffwidman opened #20 "Do something about the pocoo flask repos"
- [ ] https://github.com/pocoo/powered-by-flask
- [ ] https://github.com/pocoo/metaflask

It's not clear how these relate/differ from the repo's in the Pallets org.

There's a number of ways to handle this, including moving to Pallets, updating the status of those repos to point to the new repos, simply marking as archived, etc.

Personally, I'd archive the powered-by-flask as I don't think it's w

[2016-07-12 18:18] jeffwidman commented on #15
@mitsuhiko Had any time to look into this?

[2016-09-02 17:33] jeffwidman opened #21 "Make it easy for people to report security vulnerabilites"
Per https://github.com/pallets/werkzeug/pull/1001#issuecomment-243942898

Not sure how to solve this, but I do agree it's not clear how someone should report a security vulnerability. I just pulled up palletsproject.org and there's no obvious "security" link in the footer or elsewhere.

Would also be good to have a clear link on each project's readme. Either an email address or a link to palletspr

[2016-09-02 18:40] untitaker commented on #21
We should have an email address that just forwards the email to a list of contacts.

[2017-01-14 05:33] jeffwidman commented on #21
What's the next action here?

[2017-01-14 05:36] jeffwidman commented on #20
Can these repos both be killed? They're dead in the water and just add confusion for people new to the flask ecosystem.

[2017-01-14 20:44] untitaker commented on #21
Yes only @mitsuhiko can do that, though I believe the one at https://www.palletsprojects.com/governance/rules-of-engagement/ is sufficient for both situations. So in fact it would only require a PR against the website repo, which automatically deploys.

[2017-01-14 20:52] untitaker commented on #20
I dislike the idea of having powered-by-flask in the docs. There is no version-dependent information in that dataset.

Moving to pallets sounds OK. metaflask is most likely dead in the water.

[2017-01-14 21:00] davidism commented on #21
I guess that page already worked at least once, since that Jinja `.format` bug was handled without a bug report here, unless he just saw that elsewhere himself. I would like an alias though, so that we can all see these communications.

[2017-01-14 21:01] untitaker commented on #21
I suspect people just email Armin directly, but that barely scales.

[2017-04-20 17:38] davidism opened #22 "Flask repo contains tags referencing Jinja repo"
https://github.com/pallets/flask/tree/2.7.3
https://github.com/pallets/flask/commit/762c612e7276889aac265645da00e62e33d1573c

Not sure how this happened, maybe someone added a flask remote to their Jinja repo by accident. Only tags reference them, branch names didn't get in.

`fetch` doesn't fetch the tags in my existing repository, and the commits aren't pulled, because the tags aren't reachable

[2017-04-20 17:38] davidism commented on #22
I'm going to delete the tags and hope that GitHub garbage collects the commits eventually. Just waiting to get out of this meeting.

[2017-04-20 18:22] davidism commented on #22
Here is a list of refs and tags before I remove anything.
[tag_refs.txt](https://github.com/pallets/meta/files/945077/tag_refs.txt)

[2017-04-21 05:10] jeffwidman commented on #22
Good catch

[2017-06-10 18:06] #19 closed

[2017-06-10 18:07] #22 closed

[2017-06-10 18:07] #8 closed

[2017-06-10 18:10] davidism commented on #2
GitHub has kindly sponsored us. @pallets/global-committers has access to a private repo now.

[2017-06-10 18:10] #2 closed

[2017-06-10 18:12] davidism commented on #1
The San Diego Python group uses this: http://www.pythonsd.org/pages/code-of-conduct.html

[2017-06-10 18:15] davidism commented on #20
I plan to resurrect Powered by Flask as "Powered by Pallets" on the new website. That one can be shut down, it's not maintained anyway.

[2017-06-10 18:16] davidism commented on #20
metaflask is now this repo, except without the signup, that can be shut down as well

[2017-06-13 14:06] davidism commented on #15
* Flask
    * https://flask.rtfd.io - owned by @mitsuhiko, @kennethreitz
    * ~https://pallets-flask.rtfd.io~ - 404
    * ~https://new78kxhn.rtfd.io/~ - "import project" for Flask says it's owned by this random user, but it 404s
* Werkzeug
    * https://werkzeug.rtfd.io - owned by @dag
    * https://pallets-werkzeug.rtfd.io - owned by @untitaker
* Click
    * https://click.rtfd.io - owned by @cjw

[2017-06-13 14:24] davidism commented on #15
All of these are very out of date. Some are not styled properly. One is in another language.

We'd be using the [palletsprojects.com](https://www.palletsprojects.com) domain, but it would still be nice to unify these to reduce confusion.

[2017-06-13 14:25] ThiefMaster commented on #15
Not a fan of the `pallets-*` prefixes for the RTD pages.

I think we should ask people who run unofficial RTD mirrors on official-looking names to take them down. Especially if they are not even in English...

[2017-06-13 14:27] davidism commented on #15
Pinging the RTD support team: @ericholscher, @agjohnson, @humitos. We would like to take ownership of the project names listed above. What is the process?

[2017-06-13 14:30] mitsuhiko commented on #15
If we go with rtd we should figure out what the story is with the different branches. Last time managing themes across different branches was tricky and the inter branch links did not properly work.

[2017-06-13 14:36] cjwatson commented on #15
I'm willing to rename `click` out of the way on RTD so that pallets/click can take it over, but would appreciate some time to chase up references to the older name.  Is there some reasonable way to have both `click` and `click-package` work for that project for a transitional period?

[2017-06-13 14:45] davidism commented on #15
* https://pocoo-click.readthedocs.io - owned by @lovesky or possibly @moskytw

None of the other `pocoo-` names are registered.

[2017-06-13 14:54] Windfarer commented on #15
I'm the owner of Chinese translation of ItsDangerous documentation, I can return that documentation space if you need it.

[2017-06-13 14:56] davidism commented on #15
@cjwatson oh, I didn't stop long enough to notice it wasn't the same Click. Thanks for being open to it though. There doesn't appear to be a nice way to do a subdomain redirect, unfortunately.

If that's the primary documentation for your project and the project is still ongoing, I'm ok with leaving the name to you, since it's clear that it's separate from our Click.

[2017-06-13 14:58] untitaker commented on #15
Since we're going to use our own domains the rtd URL should be irrelevant.

On Tue, Jun 13, 2017 at 07:25:01AM -0700, Adrian wrote:

[2017-06-13 14:58] davidism commented on #15
@untitaker the thing I'm concerned with is confusion. I've seen users who are having problems because they thought the RTD version was official (since it is for a lot of projects).

[2017-06-13 14:59] davidism commented on #15
@Windfarer RTD supports translations, and it would be nice to keep the work you've done. Let's try adding me to the itsdangerous name, and following the [docs](https://docs.readthedocs.io/en/latest/localization.html) on linking a translation.

[2017-06-13 15:09] Windfarer commented on #15
@davidism I've added you as the maintainer, edit it as you wish, and I will update my translation later.

[2017-06-13 16:25] cjwatson commented on #15
@davidism The name conflict has been kind of unfortunate for a while.  However, my click is an end-of-life project (still being maintained to some extent, but phasing out), so it may make sense to move it anyway.  I'll see what we can do.

[2017-06-13 21:04] ericholscher commented on #15
We don't have a formal process, but I can help with this. We generally recommend reaching out to the owners and asking them to switch. In cases where the namespace isn't used for some other official project, we can generally transfer the name, assuming someone else just uploaded the actual   projects docs there.

In general we have a hard time with namespaces, since multiple languages/communities

[2017-06-13 23:11] davidism commented on #15
@ericholscher is there a more direct and private way I can get in contact with the owners than by pings here? A couple of them didn't have obvious GitHub accounts either.

[2017-06-13 23:16] ericholscher commented on #15
Not currently. `mirror`is an account we control, which is inactive, and I can transfer personally.

I wonder if we could build in a "request ownership" mechanism into RTD itself, which would email the folks, and provide them a simple way to transfer or add ownership.

[2017-06-27 15:28] davidism opened #23 "Unify the configuration in each project"
Currently, each project has its own slightly different version of:

- tox.ini
- .travis.yml
- .coveragerc
- setup.cfg
- Makefile
- docs/conf.py
- docs/Makefile

I recently spent time updating Flask's configuration to provide a sane set of Travis jobs and branch coverage with CodeCov. Let's use that as a base for all projects.

It would also be good to investigate MacOS tests on Travis and Windows

[2017-06-27 15:29] ThiefMaster commented on #23
Adding .editorconfig and .isort.yml configs would be a good idea too.

[2017-06-27 15:31] davidism commented on #23
Agreed, I'm open to adding other tools. Adding a lint configuration would be good too, although it's only feasible to enable it on Flask, MarkupSafe, and ItsDangerous right now since they have few to no open PRs.

[2017-07-25 08:10] jeffwidman commented on #15
What are the next actions at this point to close out this issue?

@davidism any chance you can move your list from https://github.com/pallets/meta/issues/15#issuecomment-308127069 into the top post of this issue and update it? I think that'd make it more clear which projects still need migration... I would, but I don't have the proper permissions on this repo.

[2017-07-25 08:10] jeffwidman commented on #7
Closing, as #15 is making good progress...

[2017-07-25 08:10] #7 closed

[2017-07-25 08:22] jeffwidman commented on #20
Since it seems we are all in agreement that both of these repos can be deleted, what is the next action to do that?

@untitaker / @davidism Are either of you owners of that repo or does @mitsuhiko need to do it?

[2017-07-25 08:34] jeffwidman commented on #14
@snoack I noticed you haven't been active for a while, there were a couple of your old PR's that others asked you questions about and you never chimed in...

Are you still interested in being involved or has life taken you in another direction?

[2017-07-25 14:22] mitsuhiko commented on #20
I would propose we move it to pallets and make them private.

[2017-07-25 14:31] davidism commented on #20
@mitsuhiko looks like all 7 (visible to me) pocoo repos should be moved to pallets, they're all Flask related.

[2017-07-25 14:48] mitsuhiko commented on #20
All transferred!

[2017-07-25 14:48] #20 closed

[2017-07-25 17:53] jeffwidman commented on #20
Thanks for the quick turnaround @mitsuhiko

[2017-07-27 04:14] jeffwidman commented on #20
Shouldn't https://github.com/pallets/powered-by-flask-bot be made private since https://github.com/pallets/powered-by-flask is now private?

[2017-07-27 04:15] jeffwidman commented on #20
Shouldn't https://github.com/pallets/powered-by-flask-bot be made private since https://github.com/pallets/powered-by-flask is private?

[2017-07-27 07:05] mitsuhiko commented on #20
Done :)

[2017-07-27 21:57] jeffwidman commented on #20
Thanks!

[2017-11-08 21:27] davidism commented on #15
@ericholscher I'd like to take control of the jinja2 docs owned by mirror. Would you be able to transfer that or should I contact someone else at Read The Docs?

Also, I'd like to figure out a way to consolidate "pallets-jinja" and "jinja2" into "jinja" which doesn't exist yet. I can't figure out how to create a RTD page since Jinja is already imported. What can I do to rename / redirect these?

[2017-11-08 22:28] ericholscher commented on #15
Yea, I can set it up -- the renames & redirects will be manual on my side. Do you want to do it nowish?

[2017-11-08 23:02] davidism commented on #15
Sure, I can do it now. We'd like to rename/redirect `pallets-jinja` to `jinja`, and have `jinja2` redirect to `jinja`.

[2017-11-08 23:03] davidism commented on #15
I'll want to go through the process for our other packages too, but I'm going to start out with Jinja and getting everything building correctly.

[2017-11-08 23:04] ericholscher commented on #15
Should be done.

[2017-11-08 23:07] davidism commented on #15
Awesome, thank you!

[2017-11-08 23:07] ericholscher commented on #15
Redirects everywhere now.

[2017-11-08 23:08] ericholscher commented on #15
Confirmed with:

-> curl -IL pallets-jinja.readthedocs.io/
HTTP/1.1 302 Moved Temporarily
Server: nginx/1.10.3 (Ubuntu)
X-Deity: web04
Content-Type: text/html
Date: Wed, 08 Nov 2017 23:08:34 GMT
Location: https://jinja.readthedocs.io/
Connection: keep-alive
Content-Length: 170

[code]

[2017-11-27 21:05] davidism opened #24 "Drop 2.6 (and 3.3?) support"
Wheel no longer supports 2.6, which causes a bunch of issues installing things that don't upload 2.6 wheels already to PyPI. Pip warns about dropping support. Tox mentions in tox-dev/tox#679 that setuptools is dropping support, and therefore they want to also. The codecov library uses argparse, which doesn't exist in 2.6.

Basically, all the tooling we rely on is dropping support. Every time anoth

[2017-11-28 14:56] davidism commented on #24
py, a dependency of pytest, just dropped support for 2.6 *and* 3.3, so now there's errors on all our projects for that too.

[2017-11-28 14:57] davidism commented on #24
cc @RonnyPfannschmidt

[2017-11-28 15:08] ThiefMaster commented on #24
I won't miss it. I guess people who need 2.6 support can simple use the last released versions?

[2017-11-28 15:12] RonnyPfannschmidt commented on #24
from my pov its not at all unreasonable to drop eol python versions - in particular 2.6 had quite a share of strange issues/workarounds for pytest/pylib

[2017-11-28 15:14] davidism commented on #24
How do we drop support? Do we make new releases that say "this is the last one to support 2.6 / 3.3"? Do we just stop testing them?

[2017-11-28 15:17] ThiefMaster commented on #24
I'd do a minor release with whatever bugfixes etc there are since the last release that officially deprecates these versions, then remove support/workarounds for them in the next release after that.

I think technically with semver there should be a major version number increment when dropping support for a Python version, but Flask being pre-1.0 doesn't require it, and bumping e.g. Jinja to 3.0 j

[2017-11-28 15:19] davidism commented on #24
The problem is that all our tools are breaking *now*. Deprecating our support doesn't fix any of the problems I'm running into.

[2017-11-28 15:21] ThiefMaster commented on #24
It's just tests that break, right? If this is mainly tox, we could re-run the tests manually with an older pytest/tox/.. a last time to know the release is OK, and ignore the CI test status for those releases

[2017-11-28 15:22] davidism commented on #24
So remove the Travis builds for those versions, but still tox test them locally? That would work for me.

[2017-11-28 15:33] RonnyPfannschmidt commented on #24
what you can always do is pin pytest version and tox versions

[2017-11-28 15:41] davidism commented on #24
Unfortunately that doesn't work inside Tox, which can't distinguish between installing build deps and install deps.

[2017-11-28 16:13] RonnyPfannschmidt commented on #24
@davidism i recall this can be elevated by pinning the virtualenv version, as well as setting up the deps listing with extra elements, however they need to match and either fit for all envs or fit for specific ones

[2017-11-29 08:06] hugovk commented on #24
Here's the pip installs for Flask from PyPI for the last month (via `pypinfo --percent --pip flask pyversion`)

| python_version | percent | download_count |
| -------------- | ------: | -------------: |
| 2.7            |   61.7% |      1,384,878 |
| 3.6            |   18.2% |        409,379 |
| 3.5            |   15.1% |        339,973 |
| 3.4            |    4.4% |         97,672 |
| 2.6

[2018-01-05 17:21] davidism commented on #18
I think things have been going relatively smoothly lately, so I'm going to close this.

[2018-01-05 17:21] #18 closed

[2018-01-05 17:22] davidism commented on #21
Duplicate of #3

[2018-01-05 17:22] #21 closed

[2018-01-05 17:22] davidism commented on #6
This is shut down now.

[2018-01-05 17:22] #6 closed

[2018-01-05 17:24] davidism commented on #4
Duplicate of #3

[2018-01-05 17:24] #4 closed

[2018-01-05 17:27] davidism commented on #3
For credentials we could use Keybase team file sharing. Create a team with the core maintainers, we can add files for keepassxc / pass.

[2018-01-05 17:40] davidism commented on #3
@mitsuhiko will create a gsuite account for Pallets over the weekend, then each of the maintainers will get an account with correct permissions. We can set up group alias emails with that.

[2018-01-05 18:00] davidism commented on #3
Thinking of setting up HashiCorp Vault for managing access to credentials.

[2018-01-06 02:08] jeffwidman commented on #4
@davidism up to you, but I personally find it easier to track separate issues rather then one mega-issue like #3. Handling credentials is pretty different from email lists. And there may be additional subtasks required for them... in one big github issue it's easy to lose track of the details.

[2018-04-19 14:13] lepture commented on #15
FYI, I've bought `python-flask.org`.

[2018-04-19 14:53] lepture commented on #24
Should we agree to remove CI for 2.6 and 3.3 in all projects? If not, CI will fail all the time.

[2018-04-19 14:57] davidism commented on #24
Yes, definitely, please start removing them on master branches. Maintenance branches are a bit trickier, as they may still "support" 2.6 and 3.3. What I did with Flask was to remove the envs, but still test it locally with a 2.6 configuration I had that still worked.

A general goal is #23 to make the project configurations more consistent. For pytest, coverage, and tox (and probably everything el

[2018-04-19 15:05] lepture commented on #24
No sure how to unify them together since there are always differences. Here in click's tox file:

[code]

Should I drop it?

[2018-04-19 15:16] davidism commented on #24
Not literally unify, although that might be an interesting problem to solve. Just in terms of using the same configurations and layouts.

Yes, I'd remove that from Click.

[2018-04-26 21:29] #24 closed

[2018-04-26 21:30] #10 closed

[2018-04-26 21:30] #3 closed

[2018-05-05 22:03] kennethreitz commented on #15
I don't have access.

[2018-05-18 14:53] ericholscher commented on #15
I've added the redirects in a PR on our side. They will be deployed early next week.

[2018-08-25 14:38] davidism commented on #15
@cjwatson sorry for the last minute ping, but I'm working on deploying Click's docs to RTD today. Would you be willing to make the switch? I'd be happy to add a "Looking for Ubuntu Click? Go here:" message to the top. If you'd like to chat I'm @davidism on Twitter.

[2018-10-19 13:08] davidism opened #25 "Pin versions to avoid major updates of dependencies"
Moving this from pallets/flask#2954.

@ThiefMaster posted:

[2018-10-19 13:09] davidism commented on #25
If we put upper limits in place, it means that even if the newer version doesn't cause any issues, or at least any issues relevant to a project, that project still can't upgrade. Pip allows but keeps warning about version mismatches if you force version upgrades.

This could be solved by making  releases that just re-pin dependency versions. But then we're in the same situation, there will be plen

[2018-10-19 13:09] ThiefMaster commented on #25
I wonder what kind of pinning people use for Flask... Personally I pin exact versions for everything and do a manual update from time to time (after checking changelogs in case of non-patch version bumps, especially if the major version changed).

So my gut feeling would be to do a minor release to bump dependency version pins.

[2018-10-19 13:15] davidism commented on #25
I would love to have better release schedules and policies, but the unfortunate reality is that there are few maintainers with limited time. We're working to change that, but there's been little progress yet.

Making a release is already a long process that requires checking and coordinating a lot of parts. Creating extra releases to bump versions adds to that.

[2018-10-23 08:33] benvand commented on #25
By not pinning at all then you're susceptible to major version changes to your dependencies being brought in with a fresh install.
Assuming your dependencies are following semantic versioning major version bumps _should_ contain 'incompatible api changes'.
This means you cannot depend on using the same interface to work with the dependency between 2 major version upgrades.

What this currently mea

[2018-10-26 13:29] davidism commented on #25
See also pallets/flask#2586, a discussion from January about bumping minimum versions and how to track versions in Flask.

[2018-10-27 04:11] jeffwidman commented on #25
I would prefer to let application users pin their versions and not pin versions in libraries except for known incompatibilities.

Yes, from time to time something will break, but I don't like the alternative of handcuffing users' versions. If they want to quickly upgrade a dependency, let them.

The frequency that something breaks in a dependency is low, and most maintainers are quick to fix bugs

[2018-12-15 03:48] davidism commented on #25
Decision after meeting with @mitsuhiko is that pinning max versions is impracticle. I agree with him and @jeffwidman. Instead, we should focus on making upgrade / deprecation paths well documented.

[2018-12-15 03:48] #25 closed

[2019-05-06 16:39] LindsayYoung commented on #1
Spoke with @davidism and the decision was to use [Contributor Covenant](https://www.contributor-covenant.org). It has easy GitHub integration and quality text.

For context, Here is a comparison of different codes of conduct [from geek feminism](https://geekfeminism.wikia.org/wiki/Code_of_conduct_evaluations):
Contributor Covenant looks like it is a good default because it covers:
 - Descriptions

[2019-05-06 16:41] untitaker commented on #1
I'm very happy this is happening!

[2019-05-22 03:38] jab opened #26 "update all docs about Python 3"
@davidism wrote

[2019-05-22 03:39] jab opened #27 "update all docs to correct backtick usage"
@davidism wrote

[2019-06-02 08:43] FelixWolf commented on #1
Personally, as someone who uses Flask/Sqlalchemy, It saddens me to see the choice being Contributor Covenant.
It is politically charged and is used as a "social weapon" by it's creator. It shouldn't be treated as a neutral CoC. The fact I am scared to even write this comment should be proof enough.
PSF's and Debian's are examples of neutral CoCs.

[2019-09-06 19:16] #1 closed

[2019-09-06 19:16] #15 closed

[2019-09-06 19:16] #23 closed

[2019-09-06 19:17] davidism commented on #26
Additionally, make sure all code work with Python 3. I don't mind if they remain compatible with 2, but it's not a priority.

[2019-12-26 11:57] hugovk commented on #27
Tip: add `rst-backticks` to pre-commit.

https://github.com/pre-commit/pygrep-hooks/blob/master/README.md#provided-hooks

[2020-04-20 07:10] jugmac00 opened #28 "Create a "Flask umbrella project""
Are there any plans for something like a "Flask umbrella project", which 3rd party projects could joins?

I ask because after the Werkzeug 1.0 update, several 3rd party plugins were broken - and some are still broken, because their maintainer either won't update their code or they don't want to create a new PyPi release.

I have a background from the Zope ( https://github.com/zopefoundation ) and

[2020-04-20 18:03] jeffwidman commented on #28
I've discussed this idea before with the other maintainers of [`Flask-DebugToolbar`](https://github.com/flask-debugtoolbar/flask-debugtoolbar) and we are in favor of it.